<div class="sorry-container">
  <h1>I'm Sorry 😢</h1>
  <p>Hi Subhalaxmi, Your boy made a big mistake. But He loves you so much. I am not lying. In these yeras I never ever faked my love to you.
    Always gave my best what I can. A wrong thing I did. I accept it. I made the mistake, that curocity overtook. But my intention was never wrong.
    Please forgive me. You will never regret it I promise. I nver faked it baba. Please Please forgive me. </p>
  <img src="../../assets/Sorry.png" alt="Sorry Graphic">
</div>


